# <b>SELECT</b>

1757.Recyclable and Low Fat Products

Write a solution to find the ids of products that are both low fat and recyclable.

In [ ]:
SELECT product_id
FROM Products
WHERE low_fats = 'Y'
AND recyclable = 'Y';

584.Find Customer Referee

Find the names of the customer that are not referred by the customer with id = 2.

In [ ]:
SELECT name
FROM Customer
WHERE referee_id IS NULL
OR referee_id != 2;

595.Big Countries

Write a solution to find the name, population, and area of the big countries.

In [ ]:
SELECT name,
       population,
       area
FROM World
WHERE area >= 3000000
OR population >= 25000000;

1148.Article Views I

Write a solution to find all the authors that viewed at least one of their own articles.

In [ ]:
SELECT DISTINCT author_id as id
FROM Views
WHERE author_id = viewer_id
ORDER BY id;

683.Invalid Tweets

Write a solution to find the IDs of the invalid tweets. The tweet is invalid if the number of characters used in the content of the tweet is strictly greater than 15.

In [ ]:
SELECT tweet_id
FROM Tweets
WHERE LENGTH(content) > 15;

## <b>BASIC JOINS</b>

1378.Replace Employee ID With The Unique Identifier

Write a solution to show the unique ID of each user, If a user does not have a unique ID replace just show null.

In [ ]:
SELECT unique_id,
        name
FROM Employees
LEFT JOIN EmployeeUNI USING(id);

1068.Product Sales Analysis I

Write a solution to report the product_name, year, and price for each sale_id in the Sales table.

In [ ]:
SELECT product_name,
       year,
       price
FROM Sales
JOIN Product USING(product_id);

1581.Customer Who Visited but Did Not Make Any Transactions

Write a solution to find the IDs of the users who visited without making any transactions and the number of times they made these types of visits.

In [ ]:
SELECT customer_id,
       COUNT(*) as count_no_trans
FROM Visits
LEFT JOIN Transactions USING(visit_id)
WHERE transaction_id IS NULL
GROUP BY customer_id;

197.Rising Temperature

Write a solution to find all dates' Id with higher temperatures compared to its previous dates (yesterday).

In [ ]:
SELECT w1.id
FROM Weather as w1
JOIN Weather as w2 ON DATEDIFF(w1.recordDate, w2.recordDate) = 1
WHERE w1.temperature > w2.temperature;

1661.Average Time of Process per Machine

The resulting table should have the machine_id along with the average time as processing_time, which should be rounded to 3 decimal places.

In [ ]:
SELECT a1.machine_id,
       ROUND(AVG(a2.timestamp - a1.timestamp), 3) as processing_time
FROM Activity as a1
JOIN Activity as a2 USING(machine_id)
WHERE a1.activity_type ='start'
AND a2.activity_type = 'end'
GROUP BY machine_id