ССЫЛКА НА ИСТОЧНИК ЗАДАЧ: https://sql-ex.ru/

<b>1 (1)</b> <br> Найдите номер модели, скорость и размер жесткого диска для всех ПК стоимостью менее 500 дол. Вывести: model, speed и hd

In [ ]:
SELECT model,
       speed,
       hd
FROM PC
WHERE price < 500

<b>2 (2)</b> <br>
Найдите производителей принтеров. Вывести: maker

In [ ]:
SELECT DISTINCT maker
FROM product
WHERE type = 'printer'

<b>3 (1)</b><br>
Найдите номер модели, объем памяти и размеры экранов ПК-блокнотов, цена которых превышает 1000 дол.

In [ ]:
SELECT model,
       ram,
       screen
FROM Laptop
WHERE price > 1000

<b>4 (1)</b><br>
Найдите все записи таблицы Printer для цветных принтеров.

In [ ]:
SELECT *
FROM printer
WHERE color = 'y'

<b>5 (1)</b> <br>
Найдите номер модели, скорость и размер жесткого диска ПК, имеющих 12x или 24x CD и цену менее 600 дол.

In [ ]:
SELECT model,
       speed,
       hd
FROM Pc
WHERE (cd = '12x' OR cd = '24x')
AND price < 600

<b>6 (2)</b> <br>
Для каждого производителя, выпускающего ПК-блокноты c объёмом жесткого диска не менее 10 Гбайт, найти скорости таких ПК-блокнотов. Вывод: производитель, скорость.

In [ ]:
SELECT DISTINCT maker,
               speed
FROM Product
JOIN Laptop USING(model)
WHERE hd >= 10
AND type = 'Laptop'

<b>7 (2)</b> <br>
Найдите номера моделей и цены всех имеющихся в продаже продуктов (любого типа) производителя B (латинская буква).

In [ ]:
SELECT model, price
FROM Product
JOIN Pc USING(model)
WHERE maker = 'B'
UNION
SELECT model, price
FROM Product
JOIN Laptop USING(model)
WHERE maker = 'B'
UNION
SELECT model, price
FROM Product
JOIN Printer USING(model)
WHERE maker = 'B'

<b>8 (2)</b><br>
Найдите производителя, выпускающего ПК, но не ПК-блокноты.

In [ ]:
SELECT DISTINCT maker
FROM Product
WHERE maker IN (SELECT maker
                FROM Product
                WHERE type = 'PC')
AND maker NOT IN (SELECT maker
                  FROM Product
                  WHERE type = 'Laptop')

<b>9 (1)</b><br>
Найдите производителей ПК с процессором не менее 450 Мгц. Вывести: Maker

In [ ]:
SELECT DISTINCT maker
FROM Product
JOIN Pc USING(model)
WHERE speed >= 450

<b>10 (1)</b><br>
Найдите модели принтеров, имеющих самую высокую цену. Вывести: model, price

In [ ]:
SELECT model,
       price
FROM Printer
WHERE price IN(SELECT MAX(price) as max_price
               FROM Printer)

<b>11 (1)</b><br>
Найдите среднюю скорость ПК.

In [ ]:
SELECT AVG(speed) as avg_speed
FROM Pc

<b>12 (1)</b><br>
Найдите среднюю скорость ПК-блокнотов, цена которых превышает 1000 дол.

In [ ]:
SELECT AVG(speed) as avg_speed
FROM Laptop
WHERE price > 1000

<b>13 (1)</b><br>Найдите среднюю скорость ПК, выпущенных производителем A.

In [ ]:
SELECT AVG(speed) as avg_speed
FROM Product
JOIN Pc USING(model)
WHERE maker = 'A'

<b>14 (2)</b><br>Найдите класс, имя и страну для кораблей из таблицы Ships, имеющих не менее 10 орудий.

In [ ]:
SELECT s.class,
       s.name,
       c.country
FROM Ships as s
JOIN Classes as c USING(class)
WHERE c.numGuns >= 10

<b>15 (2)</b><br>
Найдите размеры жестких дисков, совпадающих у двух и более PC. Вывести: HD

In [ ]:
SELECT hd
FROM Pc
GROUP BY hd
HAVING COUNT(*) >= 2

<b>16 (2)</b><br>Найдите пары моделей PC, имеющих одинаковые скорость и RAM. В результате каждая пара указывается только один раз, т.е. (i,j), но не (j,i), Порядок вывода: модель с большим номером, модель с меньшим номером, скорость и RAM.

In [ ]:
SELECT DISTINCT pc1.model,
                pc2.model,
                pc1.speed, pc1.ram
FROM PC as pc1, PC as pc2
WHERE pc1.model > pc2.model
      AND pc1.speed = pc2.speed
      AND pc1.ram = pc2.ram

<b>17 (2)</b><br>Найдите модели ПК-блокнотов, скорость которых меньше скорости каждого из ПК.
Вывести: type, model, speed

In [ ]:
SELECT DISTINCT type,
                model,
                speed
FROM Laptop
JOIN Product USING(model)
WHERE speed < (SELECT MIN(speed) FROM PC)

<b>18 (2)</b><br>Найдите производителей самых дешевых цветных принтеров. Вывести: maker, price

In [ ]:
SELECT DISTINCT maker,
                price
FROM Printer
JOIN Product USING(model)
WHERE color = 'y'
AND price = (SELECT MIN(price) FROM Printer WHERE color = 'y')

<b>19 (1)</b><br>
Для каждого производителя, имеющего модели в таблице Laptop, найдите средний размер экрана выпускаемых им ПК-блокнотов.
Вывести: maker, средний размер экрана.

In [ ]:
SELECT maker,
       AVG(screen) as avg_screen_size
FROM Laptop
JOIN Product USING(model)
GROUP BY maker

<b>20 (2)</b><br>
Найдите производителей, выпускающих по меньшей мере три различных модели ПК. Вывести: Maker, число моделей ПК.

In [ ]:
SELECT maker,
       COUNT(*) as model_count
FROM Product
WHERE type = 'PC'
GROUP BY maker
HAVING COUNT(*) >= 3