ССЫЛКА НА ИСТОЧНИК ЗАДАЧ: https://sql-ex.ru/

<b>1 (1)</b> <br> Найдите номер модели, скорость и размер жесткого диска для всех ПК стоимостью менее 500 дол. Вывести: model, speed и hd

In [ ]:
SELECT model,
       speed,
       hd
FROM PC
WHERE price < 500

<b>2 (2)</b> <br>
Найдите производителей принтеров. Вывести: maker

In [ ]:
SELECT DISTINCT maker
FROM product
WHERE type = 'printer'

<b>3 (1)</b><br>
Найдите номер модели, объем памяти и размеры экранов ПК-блокнотов, цена которых превышает 1000 дол.

In [ ]:
SELECT model,
       ram,
       screen
FROM Laptop
WHERE price > 1000

<b>4 (1)</b><br>
Найдите все записи таблицы Printer для цветных принтеров.

In [ ]:
SELECT *
FROM printer
WHERE color = 'y'

<b>5 (1)</b> <br>
Найдите номер модели, скорость и размер жесткого диска ПК, имеющих 12x или 24x CD и цену менее 600 дол.

In [ ]:
SELECT model,
       speed,
       hd
FROM Pc
WHERE (cd = '12x' OR cd = '24x')
AND price < 600

<b>6 (2)</b> <br>
Для каждого производителя, выпускающего ПК-блокноты c объёмом жесткого диска не менее 10 Гбайт, найти скорости таких ПК-блокнотов. Вывод: производитель, скорость.

In [ ]:
SELECT DISTINCT maker,
               speed
FROM Product
JOIN Laptop USING(model)
WHERE hd >= 10
AND type = 'Laptop'

<b>7 (2)</b> <br>
Найдите номера моделей и цены всех имеющихся в продаже продуктов (любого типа) производителя B (латинская буква).

In [ ]:
SELECT model, price
FROM Product
JOIN Pc USING(model)
WHERE maker = 'B'
UNION
SELECT model, price
FROM Product
JOIN Laptop USING(model)
WHERE maker = 'B'
UNION
SELECT model, price
FROM Product
JOIN Printer USING(model)
WHERE maker = 'B'

<b>8 (2)</b><br>
Найдите производителя, выпускающего ПК, но не ПК-блокноты.

In [ ]:
SELECT DISTINCT maker
FROM Product
WHERE maker IN (SELECT maker
                FROM Product
                WHERE type = 'PC')
AND maker NOT IN (SELECT maker
                  FROM Product
                  WHERE type = 'Laptop')

<b>9 (1)</b><br>
Найдите производителей ПК с процессором не менее 450 Мгц. Вывести: Maker

In [ ]:
SELECT DISTINCT maker
FROM Product
JOIN Pc USING(model)
WHERE speed >= 450

<b>10 (1)</b><br>
Найдите модели принтеров, имеющих самую высокую цену. Вывести: model, price

In [ ]:
SELECT model,
       price
FROM Printer
WHERE price IN(SELECT MAX(price) as max_price
               FROM Printer)

<b>11 (1)</b><br>
Найдите среднюю скорость ПК.

In [ ]:
SELECT AVG(speed) as avg_speed
FROM Pc

<b>12 (1)</b><br>
Найдите среднюю скорость ПК-блокнотов, цена которых превышает 1000 дол.

In [ ]:
SELECT AVG(speed) as avg_speed
FROM Laptop
WHERE price > 1000

<b>13 (1)</b><br>Найдите среднюю скорость ПК, выпущенных производителем A.

In [ ]:
SELECT AVG(speed) as avg_speed
FROM Product
JOIN Pc USING(model)
WHERE maker = 'A'

<b>14 (2)</b><br>Найдите класс, имя и страну для кораблей из таблицы Ships, имеющих не менее 10 орудий.

In [ ]:
SELECT s.class,
       s.name,
       c.country
FROM Ships as s
JOIN Classes as c USING(class)
WHERE c.numGuns >= 10

<b>15 (2)</b><br>
Найдите размеры жестких дисков, совпадающих у двух и более PC. Вывести: HD

In [ ]:
SELECT hd
FROM Pc
GROUP BY hd
HAVING COUNT(*) >= 2

<b>16 (2)</b><br>Найдите пары моделей PC, имеющих одинаковые скорость и RAM. В результате каждая пара указывается только один раз, т.е. (i,j), но не (j,i), Порядок вывода: модель с большим номером, модель с меньшим номером, скорость и RAM.

In [ ]:
SELECT DISTINCT pc1.model,
                pc2.model,
                pc1.speed, pc1.ram
FROM PC as pc1, PC as pc2
WHERE pc1.model > pc2.model
      AND pc1.speed = pc2.speed
      AND pc1.ram = pc2.ram

<b>17 (2)</b><br>Найдите модели ПК-блокнотов, скорость которых меньше скорости каждого из ПК.
Вывести: type, model, speed

In [ ]:
SELECT DISTINCT type,
                model,
                speed
FROM Laptop
JOIN Product USING(model)
WHERE speed < (SELECT MIN(speed) FROM PC)

<b>18 (2)</b><br>Найдите производителей самых дешевых цветных принтеров. Вывести: maker, price

In [ ]:
SELECT DISTINCT maker,
                price
FROM Printer
JOIN Product USING(model)
WHERE color = 'y'
AND price = (SELECT MIN(price) FROM Printer WHERE color = 'y')

<b>19 (1)</b><br>
Для каждого производителя, имеющего модели в таблице Laptop, найдите средний размер экрана выпускаемых им ПК-блокнотов.
Вывести: maker, средний размер экрана.

In [ ]:
SELECT maker,
       AVG(screen) as avg_screen_size
FROM Laptop
JOIN Product USING(model)
GROUP BY maker

<b>20 (2)</b><br>
Найдите производителей, выпускающих по меньшей мере три различных модели ПК. Вывести: Maker, число моделей ПК.

In [ ]:
SELECT maker,
       COUNT(*) as model_count
FROM Product
WHERE type = 'PC'
GROUP BY maker
HAVING COUNT(*) >= 3

<b>21 (1)</b><br>Найдите максимальную цену ПК, выпускаемых каждым производителем, у которого есть модели в таблице PC.
Вывести: maker, максимальная цена.

In [ ]:
SELECT maker,
       MAX(price) as max_price
FROM Pc
LEFT JOIN Product USING(model)
GROUP BY maker

<b>22 (1)</b><br>Для каждого значения скорости ПК, превышающего 600 МГц, определите среднюю цену ПК с такой же скоростью. Вывести: speed, средняя цена.

In [ ]:
SELECT speed,
       AVG(price) as avg_price
FROM Pc
WHERE speed > 600
GROUP BY speed

<b>23 (2)</b><br>
Найдите производителей, которые производили бы как ПК
со скоростью не менее 750 МГц, так и ПК-блокноты со скоростью не менее 750 МГц.
Вывести: Maker

In [ ]:
SELECT DISTINCT maker
FROM Product
JOIN Pc USING (model)
WHERE speed >= 750
AND maker IN (SELECT maker
              FROM Product
              JOIN Laptop USING(model)
              WHERE speed >= 750)

<b>24 (2)</b><br>
Перечислите номера моделей любых типов, имеющих самую высокую цену по всей имеющейся в базе данных продукции.

In [ ]:
WITH t1 as(
    SELECT model, price
    FROM Pc
    UNION
    SELECT model, price
    FROM Laptop
    UNION
    SELECT model, price
    FROM Printer)

SELECT DISTINCT model
FROM t1
WHERE price = (SELECT max(price) FROM t1)

<b>25 (2)</b><br>
Найдите производителей принтеров, которые производят ПК с наименьшим объемом RAM и с самым быстрым процессором среди всех ПК, имеющих наименьший объем RAM. Вывести: Maker

In [ ]:
SELECT DISTINCT maker
FROM Product
WHERE model IN (SELECT model
                FROM Pc
                WHERE ram = (SELECT MIN(ram)
                             FROM Pc)
                AND speed = (SELECT MAX(speed)
                             FROM Pc
                             WHERE ram = (SELECT MIN(ram)
                                          FROM Pc)))
AND maker IN (SELECT maker
              FROM Product
              WHERE type = 'Printer')

<b>26 (2)</b><br>Найдите среднюю цену ПК и ПК-блокнотов, выпущенных производителем A (латинская буква). Вывести: одна общая средняя цена.

In [ ]:
SELECT AVG(price) as avg_price
FROM (SELECT price
      FROM Pc
      WHERE model IN (SELECT model
                      FROM Product
                      WHERE maker = 'A')
      UNION ALL
      SELECT price
      FROM Laptop
      WHERE model IN (SELECT model
                      FROM Product
                      WHERE maker = 'A')) as t1

<b>27 (2)</b><br>Найдите средний размер диска ПК каждого из тех производителей, которые выпускают и принтеры. Вывести: maker, средний размер HD.

In [ ]:
SELECT maker,
       AVG(hd) as avg_hd
FROM Product
JOIN Pc USING(model)
WHERE maker IN (SELECT maker
                FROM Product
                WHERE type = 'Printer')
GROUP BY maker

<b>28 (2)</b><br>
Используя таблицу Product, определить количество производителей, выпускающих по одной модели.

In [ ]:
SELECT COUNT(*)
FROM Product
WHERE maker IN (SELECT maker
                FROM Product
                GROUP BY maker
                HAVING COUNT(*) = 1)

<b>29 (2)</b><br>В предположении, что приход и расход денег на каждом пункте приема фиксируется не чаще одного раза в день [т.е. первичный ключ (пункт, дата)], написать запрос с выходными данными (пункт, дата, приход, расход). Использовать таблицы Income_o и Outcome_o.

In [ ]:
SELECT point,
       date,
       inc,
       out
FROM income_o
LEFT JOIN outcome_o USING(point, date)
UNION
SELECT point,
       date,
       inc,
       out
FROM income_o
RIGHT JOIN outcome_o USING(point, date)

<b>30 (2)</b><br>
В предположении, что приход и расход денег на каждом пункте приема фиксируется произвольное число раз (первичным ключом в таблицах является столбец code), требуется получить таблицу, в которой каждому пункту за каждую дату выполнения операций будет соответствовать одна строка.
Вывод: point, date, суммарный расход пункта за день (out), суммарный приход пункта за день (inc). Отсутствующие значения считать неопределенными (NULL).

In [ ]:
SELECT point,
       date,
       SUM(outcome), SUM(income)
FROM (
    SELECT point,
           date,
           SUM(inc) AS income,
           null AS outcome
    FROM Income
    GROUP BY point, date
    UNION
    SELECT point,
           date,
           null AS income,
           SUM(out) AS outcome
    FROM Outcome
    GROUP BY point, date) AS t1
GROUP BY point, date
ORDER BY point

<b>31 (1)</b><br>
Для классов кораблей, калибр орудий которых не менее 16 дюймов, укажите класс и страну.

In [ ]:
SELECT class,
       country
FROM Classes
WHERE bore >= 16

<b>32 (3)</b><br>
Одной из характеристик корабля является половина куба калибра его главных орудий (mw). С точностью до 2 десятичных знаков определите среднее значение mw для кораблей каждой страны, у которой есть корабли в базе данных.

In [ ]:
SELECT country,
       CAST(AVG((power(bore,3)/2))as numeric (6,2)) as weight
FROM (SELECT country,
             class,
             bore,
             name
      FROM Classes
      LEFT JOIN Ships USING(class)
      UNION ALL
      SELECT DISTINCT country,
                      class,
                      bore,
                      ship
      FROM classes as t1
      LEFT JOIN outcomes as t2 ON t1.class=t2.ship
      WHERE ship = class
      AND ship NOT IN (SELECT name
                       FROM ships)) as sq
WHERE name IS NOT NULL
GROUP BY country

<b>33 (1)</b><br>
Укажите корабли, потопленные в сражениях в Северной Атлантике (North Atlantic). Вывод: ship.

In [ ]:
SELECT ship
FROM Outcomes as o
LEFT JOIN Battles as b ON o.battle = b.name
WHERE result = 'sunk'
AND battle = 'North Atlantic'

<b>34 (2)</b><br>
По Вашингтонскому международному договору от начала 1922 г. запрещалось строить линейные корабли водоизмещением более 35 тыс.тонн. Укажите корабли, нарушившие этот договор (учитывать только корабли c известным годом спуска на воду). Вывести названия кораблей.

In [ ]:
SELECT name
FROM classes,ships
WHERE launched >= 1922
AND displacement > 35000
AND type = 'bb'
AND ships.class = classes.class

<b>35 (2)</b><br>
В таблице Product найти модели, которые состоят только из цифр или только из латинских букв (A-Z, без учета регистра).
Вывод: номер модели, тип модели.

In [ ]:
SELECT model, type
FROM Product
WHERE model ~ '^[0-9]+$'
OR model ~ '^[a-zA-Z]+$'

<b>36 (2)</b><br>
Перечислите названия головных кораблей, имеющихся в базе данных (учесть корабли в Outcomes).

In [ ]:
SELECT class
FROM Classes
JOIN Ships USING(class)
WHERE class = name
UNION
SELECT class
FROM Classes
JOIN Outcomes ON Classes.class = Outcomes.ship

<b>37 (2)</b><br>
Найдите классы, в которые входит только один корабль из базы данных (учесть также корабли в Outcomes).

In [ ]:
SELECT class
FROM (SELECT class,
             name
      FROM Ships
      UNION
      SELECT class,
             ship as name
      FROM Outcomes
      JOIN Classes ON Classes.class = Outcomes.ship) as t1
GROUP BY class
HAVING COUNT(t1.name) = 1

<b>38 (1)</b><br>
Найдите страны, имевшие когда-либо классы обычных боевых кораблей ('bb') и имевшие когда-либо классы крейсеров ('bc').

In [ ]:
SELECT country
FROM Classes
WHERE type = 'bb'
INTERSECT
SELECT country
FROM Classes
WHERE type = 'bc'

<b>39 (2)</b><br>
Найдите корабли, сохранившиеся для будущих сражений ; т.е. выведенные из строя в одной битве (damaged), они участвовали в другой, произошедшей позже.

In [ ]:
WITH t AS(
SELECT *
FROM Outcomes as o
JOIN battles as b ON o.battle = b.name)

SELECT DISTINCT t1.ship
FROM t as t1
WHERE t1.result = 'damaged'
AND EXISTS(SELECT t2.ship
           FROM t as t2
           WHERE t2.date > t1.date
           AND t1.ship = t2.ship)

<b>40 (2)</b><br>
Найти производителей, которые выпускают более одной модели, при этом все выпускаемые производителем модели являются продуктами одного типа.
Вывести: maker, type

In [ ]:
SELECT maker,
       MAX(type)
FROM Product
GROUP BY maker
HAVING COUNT(model) > 1
AND COUNT(DISTINCT type) = 1