Задание 1

Вывести имена всех людей, которые есть в базе данных авиакомпаний

In [ ]:
SELECT p.name
FROM Passenger as p

Задание 2

Вывести названия всеx авиакомпаний

In [ ]:
SELECT c.name
FROM Company as c

Задание 3

Вывести все рейсы, совершенные из Москвы

In [ ]:
SELECT t.*
FROM Trip as t
WHERE t.town_from = 'Moscow'